{% load static %}
{% include 'base/base.html' %}
{% block content %}
<main>
    <div class="container col-md-11">
        <div class="p-2 mb-4 bg-light rounded-3">
            <div class="container-fluid py-2">
            <h1 class="display-5 fw-bold">Resultados</h1>
            <p class="col-md-8 fs-4">Hola <strong>{{usuario}}</strong>, Bienvenido a la Sección de Resultados de la Votación: <strong>{{votacion.nombre}}</strong></p>
            </div>
        </div>
        <br>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" aling="center">
        <div class="col-md-2"></div>
            {% for k, value in data  %}    
                <div class="col" aling="center">
                    <div class="card mb-4 rounded-3 shadow-sm border-dark">
                        <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">{{value.candidato.votante.nombre}} {{value.candidato.votante.apellido}}</h4>
                        </div>
                        <div class="card-body">
                        <img src={{value.candidato.imagen.url}} height="150" width="150" alt="producto">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><p class='card-text'><strong>Tarjeton: {{value.candidato.tarjeton}}</strong></p></li>
                            <li><p class='card-text'><strong>{{value.candidato.descripcion}}</strong></p></li>
                        </ul>
                        </div>
                        <div class="card-footer bg-dark">
                            <h3 class="text-white"><strong>Votos: {{value.votos}} </strong></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
<script src="{% static 'bootstrap/vendor/DataTables/Aplicar.js' %}"></script>
{% if messages%}
  {{ messages.success}}
    {% for m in messages %}
		<script>
      mensaje("{{m}}");
    </script>
	{% endfor %}
{% endif %}
{% endblock %}
{% include 'base/footer.html' %}