{% load static %}
<div class="row">
    <div class="col-md-1"></div>
    <div align="center">
        <footer class="d-flex justify-content-between align-items-center py-3 my-1 bg-dark rounded-1">
                <div class="col-md-5 align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <i class="bi bi-bootstrap-fill"></i>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">&copy; 2022 David Sanabria</span>
                </div>
                <ul class="nav col-md-3 justify-content list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook" width="24" height="24"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-linkedin" width="24" height="24"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram" width="24" height="24"></i></a></li>
                </ul>
        </footer>
    </div>
</div>
  <!-- Bootstrap JavaScript Libraries -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js.map' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js.map' %}"></script>
<script src="{% static 'bootstrap/js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/cheatsheet.js' %}"></script>
<script src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'DataTables/Aplicar.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'bootstrap/js/selet2/AplicarSelect.js' %}"></script>
</body>
</html>
